<ion-view view-title="While you're waiting...">
  <ion-content>
<div class="list card">

<div style="text-align:center; margin: 20px auto">
    <h3 style="margin: 50px auto;">Enjoy your haircut!</h3>

    <div style="margin: 10px auto; margin-bottom: 50px"> <i class="ion-scissors" style="font-size: 60px;"></i></div>

</div>
  <div class="item">
    <a class="button button-block button-positive" ng-click="getAfterPhoto()"><i class="ion-camera" style="font-size: 40px;"></i> After  </a>
  </div>

</div>
  </ion-content>
</ion-view>
