<ion-view view-title="Picture: Before">
  <ion-content>
<div class="list card">

  <div class="item item-body">
    <div class="row">
      <div class="col">
        <h3>Before</h3>
        <img class="col-img" src="{{currentBeforePhotoUrl}}" />
      </div>
      <div class="col">
        <h3>After</h3>
        <img class="col-img" src="{{currentAfterPhotoUrl}}" />
      </div>
    </div>
  </div>

  <div class="item">
    <h3>Notes</h3>
    <p>
      Tfad f dsafdas ffadsf dasfadsfsad fadsfas dfsadf fasdfasdfasf fda f fadsfasd fa fadsf asdf f adsfdaf afas  f dsafasdfasf as
    </p>

  </div>

  <div class="item">
    <a class="button button-block button-positive" href="#/app/duringhaircut">Save</a>
  </div>

</div>
  </ion-content>
</ion-view>
