<ion-view view-title="Picture: Before">
  <ion-content>
<div class="list card">

  <div class="item">
    <strong>Before</strong>
  </div>

  <div class="item">
    <div class="thumbnail">
      <img src="{{currentBeforePhotoUrl}}" />
    </div>
  </div>

  <div class="item">
    <strong>After</strong>
  </div>

  <div class="item">
    <div class="thumbnail">
      <img src="{{currentAfterPhotoUrl}}" />
    </div>
  </div>

  <div class="item">
    <strong>Notes</strong>
  </div>

  <div class="item item-text-wrap" style="margin-bottom: 20px">
    <h2>Baker Street Barbers</h2>
    <p><strong>Barber:</strong> Mustafa</p>
    <p>
      Nice cut. Really liked the barber. Everthing was neat. The barbar paid a lot of attention to my requests. Good experience!
    </p>
    <p></p><p></p>
  </div>


</div>
  </ion-content>
</ion-view>
