<ion-view view-title="Picture: Before">
  <ion-content>
<div class="list card">

  <div class="item item-body">

    <h3>Before</h3>
    <div class="thumbnail">
      <img src="{{currentBeforePhotoUrl}}" />
    </div>

    <h3>After</h3>
    <div class="thumbnail">
      <img src="{{currentAfterPhotoUrl}}" />
    </div>

  </div>

  <div class="item">
    <h3>Notes</h3>
  </div>

  <div class="item">
    <h2>Baker Street Barbers</h2>
    <p><strong>Barber:</strong> Mustafa</p>
    <p>
      Tfad f dsafdas ffadsf dasfadsfsad fadsfas dfsadf fasdfasdfasf fda f fadsfasd fa fadsf asdf f adsfdaf afas  f dsafasdfasf as
    </p>

  </div>


</div>
  </ion-content>
</ion-view>
