<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.labsterx.app.myhaircut"
        versionCode = "1"
        version     = "0.0.1" >

    <preference name="phonegap-version" value="3.7.0" />

    <name>MyHaircut</name>

    <description>
        My Hair
    </description>

    <author email="labsterx@gmail.com" href="http://www.labsterx.com/">
      LabsterX
    </author>

    <content src="index.html" />

    <icon src="app_icon.png" />

    <access origin="*" />

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

    <gap:plugin name="org.apache.cordova.inappbrowser" version="0.1.0" />
    <gap:plugin name="org.apache.cordova.camera" />

    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>

    <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser" />
      <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>

    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/device" />


    <preference name="permissions" value="none"/>

</widget>
