/* Empty. Add your own CSS if you like */
img.col-img {
	max-width: 100%;
	height: auto;
	margin: 10px;
	background-color: white;
}

.thumbnail {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}